body {
  background-color: #02182B;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  gap: 45px;
  justify-content: center;
  padding: 50px;
  background-color: #306573;
  border-radius: 10px;
  color: white;
  margin-top: 65px;
  margin-right: auto;
  margin-left: auto;
}

/* SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
SPDX-License-Identifier: AGPL-3.0-or-later */